*{
    padding: 0;
    margin: 0;
}


#maincontainer {
    background-color: #6b7c7ccb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 5px;
    animation: wobble 1s;
}

#buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.btn {
    height: 50px;
    width: 80px;
    border-radius: 20px;
}


#count {
    font-size: 80px;
    position: relative;
    bottom: 50px;
}

#main {
    text-align: center;
}